* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

#nav {
    background-color: gray;
    min-height: 40px;
    padding-left: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

#main {
    display: flex;
    justify-content: space-between;
    min-height: 400px;
}

#side1 {
    flex-basis: 32%;
    background-color: gray;
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
    column-gap: 5px;

}

#side2 {
    flex-basis: 67%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.child3 {
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    margin-bottom: 10px;
}

.child4 {
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}

#footer {
    background-color: gray;
    min-height: 40px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}