body,html{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    /* background-color: blueviolet; */
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1fr 1fr 0.8fr;
    grid-template-areas: 
    'navbar navbar navbar navbar'
    'sidebar main main main'
    'sidebar section1 section2 section3'
    'sidebar section4 section4 section4'
    'footer footer footer footer';
    gap: 20px;
    height: 100%;
    animation: fadeIn 1s ease-in-out;
}
nav,main,#sidebar,#section1,#section2,#section3,#section4,footer{
    border-radius: 10px;
    box-shadow: 0 4px 0px rgba(0,0,0,0.6);
    transition: transform 0.3s,box-shadow 0.3s;
}
nav:hover,main:hover,#sidebar:hover,#section1:hover,#section2:hover,#section3:hover,#section4:hover,footer:hover{
    transform: scale(1.02);
    box-shadow: 0 8px 10px rgba(0,0,0,0.6);
}


nav{
    grid-area: navbar;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    background-color: #66c825;
}
main{
    background-color: #5c39b3;
    grid-area: main;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
}
#sidebar{
    grid-area: sidebar;
    background-color: #e1b546;
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
} 
#section1{
    grid-area: section1;
    background-color: #d224a9;
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
} 
#section2{
    grid-area: section2;
    background-color: #12b1bc;
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
} 
#section3{
    grid-area: section3;
    background-color: #d90e63;
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
} 
#section4{
    grid-area: section4;
    background-color: #521818;
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
}
footer{
    grid-area: footer;
    background-color: #99c211;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
}
@media(max-width:768px){
    .container{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "navbar"
        "main"
        "sidebar"
        "section1"
        "section2"
        "section3"
        "section4"
        "footer"
    }
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}