* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

#navbar {
    background-color: black;
    color: white;
    min-height: 50px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */

}

#logo {
    flex-basis: 50%;
    padding-left: 40px;
}

#menu {
    flex-basis: 50%;

}

#menu ul {
    display: flex;
    justify-content: space-evenly;
}