*{
    color: white;
    font-weight: bold;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.wrapper-div{
    /* background-color: aqua; */
    /* width: 60%; */
    min-height: 100px;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.header-div{
    background-color: rgb(55, 13, 164);
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.main-div{
    width: 100%;
    min-height: 350px;
    /* background-color: #890b0b; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}
.nav-div{
    background-color:skyblue;
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-div{
    background-color: #818a9a;
    flex-basis: 57%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar-div{
    background-color: skyblue;
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-div{
    width: 100%;
    min-height: 100px;
    background-color: #2a11b7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}