* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.parent {
    /* width: 400px; */
    width: 50%;
    border: 2px solid black;
}

.child {
    /* width: 500px; */
    width: 100%;
    border: 2px solid red;
}