* {
    box-sizing: border-box;
    margin: 0;
    color: white;
}

.container {
    width: 800px;
    height: 780px;
    /* background-color: red; */
    margin: 50px auto;
    display: grid;
    grid-template-rows: 10% 50% 30% 10%;


}

.logo-div {
    display: grid;
    background-color: aqua;
    grid-row: 1/2;
}

.logo {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-row: 1/2;
    grid-column: 1/3;
    background-color: #2a0606;
}

.nav {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-row: 1/2;
    grid-column: 3/6;
    background-color: #90c30f;
}

.boxes-div {
    display: grid;
    grid-row: 2/3;
    /* grid-template-rows: 24% 24% 24% 24%; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1%;
    padding-top: 10px;
    /* grid-column: 1/5; */
}

.smallbox-1 {

    display: grid;
    grid-row: 1/2;
    background-color: gray;
}

.smallbox-2 {

    display: grid;
    grid-row: 1/2;
    background-color: gray;
}

.smallbox-3 {

    display: grid;
    grid-row: 1/2;
    background-color: gray;
}

.smallbox-4 {

    display: grid;
    grid-row: 1/2;
    background-color: gray;

}

.smallbox-5 {

    display: grid;
    grid-row: 2/3;
    background-color: gray;

}

.smallbox-6 {

    display: grid;
    grid-row: 2/3;
    background-color: gray;

}

.smallbox-7 {

    display: grid;
    grid-row: 2/3;
    background-color: gray;

}

.smallbox-8 {

    display: grid;
    grid-row: 2/3;
    background-color: gray;

}

.smallbox-9 {

    display: grid;
    grid-row: 3/4;
    background-color: gray;

}

.smallbox-10 {

    display: grid;
    grid-row: 3/4;

    background-color: gray;

}

.smallbox-11 {

    display: grid;
    grid-row: 3/4;
    background-color: gray;

}

.smallbox-12 {

    display: grid;
    grid-row: 3/4;

    background-color: gray;

}

.smallbox-13 {

    display: grid;
    grid-row: 4/5;
    background-color: gray;

}

.smallbox-14 {

    display: grid;
    grid-row: 4/5;
    background-color: gray;

}

.smallbox-15 {

    display: grid;
    grid-row: 4/5;
    background-color: gray;

}

.smallbox-16 {

    display: grid;
    grid-row: 4/5;
    background-color: gray;

}

.bigBox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 3/4;
    grid-column-gap: 20px;
}

.box-1 {
    height: 200px;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #d211d2;
    grid-row: 3/4;
    grid-column: 1/2;
}

.box-2 {
    height: 200px;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #14a5a5;
    grid-row: 3/4;
    grid-column: 2/3;
}

.box-3 {
    height: 200px;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #0b2e87;
    grid-row: 3/4;
    grid-column: 3/4;
}

.footer {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    grid-row: 4/5;
    /* margin-top: 10px; */
}