*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
    font-weight: bold;
}
/* .container{
    width: 620px;
    height: 520px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 150px 300px 150px;
    grid-template-rows:100px 300px 100px;
    gap: 10px;

}
.header{
    background-color: aqua;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    justify-content: center;
    align-items: center;
    
}
.nav{
    background-color: rgba(113,183,245);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    justify-content: center;
    align-items: center;
}.main{
    background-color: rgba(163,158,161);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    justify-content: center;
    align-items: center;
}.sidebar{
    background-color: rgba(113,183,245);
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    justify-content: center;
    align-items: center;
}
.footer{
    background-color: rgb(0, 255, 26);
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    display: grid;
    justify-content: center;
    align-items: center;

} */
.container{
    width: 500px;
    height: 600px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 150px 350px;
    grid-template-rows:70px 40px 110px 350px 40px;
    gap: 10px;
}
.logo{
    background-color: rgb(222,222,222);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    justify-content: start;
    padding-left: 20px;
    align-items: center;

}
.nav{
    background-color: rgb(222,222,222);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    justify-content: center;
    align-items: center;
    
}
.header{
    background-color: rgb(222,222,222);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    display: grid;
    justify-content: center;
    align-items: center;
    
}
.sidebar{
    background-color: rgb(222,222,222);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    display: grid;
    justify-content: center;
    align-items: center;
    
}.main{
    background-color: rgb(222,222,222);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    display: grid;
    justify-content: center;
    align-items: center;   
}
.footer{
    background-color: rgb(222,222,222);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    display: grid;
    justify-content: center;
    align-items: center;
} 