*{
    box-sizing: border-box;
    margin: 0;
}
.wrapper{
    width: 60%;
    min-height: 100px;
    /* background-color: aqua; */
    margin: auto;
    display: flex;
    flex-direction: column;
}
.header{
    width: 100%;
    min-height: 50px;
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin-top: 10px;
}
.logo{
    flex-basis: 50%;
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.nav{
    flex-basis: 50%;
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.banner{
    width: 100%;
    min-height: 100px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.textarea{
    width: 100%;
    min-height: 80px;
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.main{
    width: 100%;
    min-height: 280px;
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.box{
flex-basis: 32%;
background-color: lightgray;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
.footer{
    width: 100%;
    background-color: lightgray;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}