* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



@media screen and (min-width:1000px) {
    #para-1 {
        background-color: yellow;
        color: red;
    }
}

@media screen and (min-width:500px) and (max-width:1000px) {
    #para-1 {
        background-color: red;
        color: blue;
    }
}

@media screen and (min-width:200px) and (max-width:500px) {
    #para-1 {
        background-color: yellow;
        color: red;
        border: 5px solid green;

    }
}


@media print {
    #para-1 {
        color: greenyellow;
    }
}